# Exploratory Data Analysis

## Data First Look

    A quick overview on the data!
Let's see the columns and the data types of each dataframe.

In [1]:
import pandas as pd

In [2]:
issues = pd.read_csv("data/base/issues.csv")
products = pd.read_csv("data/base/products.csv")
clientsComplaints = pd.read_csv("data/base/complaints_users.csv")
companiesComplaints = pd.read_csv("data/base/complaints_companies.csv")

/home/diego/libs/anaconda3/envs/devDeploy/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
issues.columns

Index(['ISSUE_ID', 'MAIN_ISSUE', 'SUB_ISSUE'], dtype='object')

In [4]:
issues.dtypes

ISSUE_ID       int64
MAIN_ISSUE    object
SUB_ISSUE     object
dtype: object

In [5]:
issues

,ISSUE_ID,MAIN_ISSUE,SUB_ISSUE
0,253,Problem with a credit reporting company's inve...,Their investigation did not fix an error on yo...
1,165,Incorrect information on your report,Account status incorrect
2,18,Attempts to collect debt not owed,Debt was paid
3,349,Written notification about debt,Didn't receive enough information to verify debt
4,300,Struggling to repay your loan,Can't get other flexible options for repaying ...
...,...,...,...
348,175,Lender damaged or destroyed property,NaN
349,226,"Overdraft, savings or rewards features",NaN
350,196,Managing the line of credit,NaN
351,289,Shopping for a line of credit,NaN
352,178,Lender sold the property,NaN

In [6]:
products.columns

Index(['PRODUCT_ID', 'MAIN_PRODUCT', 'SUB_PRODUCT'], dtype='object')

In [7]:
products.dtypes

PRODUCT_ID       int64
MAIN_PRODUCT    object
SUB_PRODUCT     object
dtype: object

In [8]:
products

,PRODUCT_ID,MAIN_PRODUCT,SUB_PRODUCT
0,26,"Credit reporting, credit repair services, or o...",Credit reporting
1,37,Debt collection,Medical debt
2,39,Debt collection,Mortgage debt
3,90,Student loan,Federal student loan servicing
4,42,Debt collection,Other debt
...,...,...,...
93,72,Other financial service,Money order
94,11,Consumer Loan,Pawn loan
95,81,Prepaid card,Electronic Benefit Transfer / EBT card
96,73,Other financial service,Refund anticipation check
97,97,Virtual currency,International money transfer

In [9]:
clientsComplaints.columns

Index(['COMPLAINT_ID', 'COMPLAINT_TEXT', 'WAS_USER_DISPUTED', 'DATE',
       'PRODUCT_ID', 'ISSUE_ID'],
      dtype='object')

In [10]:
clientsComplaints.dtypes

COMPLAINT_ID          int64
COMPLAINT_TEXT       object
WAS_USER_DISPUTED    object
DATE                 object
PRODUCT_ID            int64
ISSUE_ID              int64
dtype: object

In [11]:
clientsComplaints

,COMPLAINT_ID,COMPLAINT_TEXT,WAS_USER_DISPUTED,DATE,PRODUCT_ID,ISSUE_ID
0,3184195,XXXX and Transunion are reporting incorrectly...,NaN,03/19/2019,26,253
1,3184692,XXXX and Transunion are reporting incorrectly ...,NaN,03/19/2019,26,253
2,3183613,"XXXX, XXXX, and Experian need to remove the co...",NaN,03/18/2019,26,165
3,3182430,"3 company with inconsistencies, violations and...",NaN,03/17/2019,26,253
4,3182218,I have a personal loan from Patriot finance. T...,NaN,03/17/2019,26,165
...,...,...,...,...,...,...
383061,1291683,This item is past the Fair Credit Reporting Ac...,Yes,03/19/2015,28,157
383062,1291675,I requested my credit score and paid a special...,No,03/19/2015,28,66
383063,1290847,there is a XXXX XXXX account on my credit repo...,No,03/19/2015,28,159
383064,1291728,I had originally attended XXXX XXXX located in...,No,03/19/2015,91,28
383065,1291009,I have attempted to get this inaccurate judgme...,Yes,03/19/2015,28,161

In [12]:
companiesComplaints.columns

Index(['COMPLAINT_ID', 'COMPANY', 'COMPANY_RESPONSE_TO_USER',
       'COMPANY_RESPONSE_TO_PUBLIC', 'WAS_RESPONSE_TIMELY', 'DATE'],
      dtype='object')

In [13]:
companiesComplaints.dtypes

COMPLAINT_ID                   int64
COMPANY                       object
COMPANY_RESPONSE_TO_USER      object
COMPANY_RESPONSE_TO_PUBLIC    object
WAS_RESPONSE_TIMELY           object
DATE                          object
dtype: object

In [14]:
companiesComplaints

,COMPLAINT_ID,COMPANY,COMPANY_RESPONSE_TO_USER,COMPANY_RESPONSE_TO_PUBLIC,WAS_RESPONSE_TIMELY,DATE
0,3184195,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",Closed with explanation,Company has responded to the consumer and the ...,Yes,03/19/2019
1,3184692,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",Closed with explanation,Company has responded to the consumer and the ...,Yes,03/19/2019
2,3183613,Experian Information Solutions Inc.,Closed with non-monetary relief,Company has responded to the consumer and the ...,Yes,03/18/2019
3,3182430,"McCarthy, Burgess & Wolff, Inc.",Closed with explanation,Company believes it acted appropriately as aut...,Yes,03/17/2019
4,3182218,"Patriot Finance, LLC",Closed with explanation,Company believes it acted appropriately as aut...,Yes,03/17/2019
...,...,...,...,...,...,...
383061,1291683,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",Closed with explanation,NaN,Yes,03/19/2015
383062,1291675,Experian Information Solutions Inc.,Closed with monetary relief,Company chooses not to provide a public response,Yes,03/19/2015
383063,1290847,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",Closed with non-monetary relief,NaN,Yes,03/25/2015
383064,1291728,Genesis Lending,Closed with explanation,NaN,Yes,03/19/2015
383065,1291009,"EQUIFAX, INC.",Closed with explanation,NaN,Yes,03/19/2015